* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #212835;
    color: #ffffff;
}
#root {
    width: 100%;
    height: 100%;
    background-color: #212835;
}
